*{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFAF0;
}

h1{
  padding-top: 1rem;
  font-size: 4.5rem;
}

.first-page-name{
  padding-bottom: 4rem;
}

.first-page-name a i{
  color: #000;
  padding: 0 3rem 0 0;
}

.first-page-photo-gallery{
  padding-bottom: 20rem;
}

.first-page-photo-gallery img{
  border: 2px solid black;
  width: 240px;
  height: 220px;
  margin: 4px;
}

.btn-primary a{
  text-decoration: none;
  color: #FFF;
  font-size: 2rem;
}

span{
  color: #F88379;
  font-weight: bold;
}

/*Contact Button*/

.btn-primary{
  background-color: #F88379;
  border: purple;
  color: white;
  border-radius: 3px;
  margin: 2rem auto;
  display: block;
  padding: 1.3rem 8rem;
  font-size: 1.7rem;
}


.btn-primary:hover{
  background-color: purple;
}


.first-page-name a i:hover{
  color: #F88379;
}


/* Media Quieries*/

@media only screen and (max-width: 768px){
  .first-page-photo-gallery img{
    display: block;
    margin: 1.5rem auto;
  }
}
