*{
  font-family: 'Roboto', sans-serif;
  background-color: #FFFAF0;
}

h1{
  padding-top: 3rem;
  font-size: 4.5rem;
}

.first-page-name{
  padding-bottom: 4rem;
  text-align: center;
}

.first-page-name a i{
  color: #000;
  padding: 0 3rem 0 0;
}

.navigation .left{
  text-align: left;
}

.navigation .right{
  text-align: right;
}

.first-page-photo{
  padding: 5rem;
}

.first-page-photo img{
  border: 4px solid black;
  max-width: 400px;
  max-height: 380px;
  margin: 0 auto;
  display: block;
}

.contact{
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact i{
  padding: 1rem 2rem;
}

.first-page-photo-gallery{
  padding-bottom: 20rem;
}


a .btn-primary{
  text-decoration: none;
  color: #FFF;
  letter-spacing: .3rem;
  font-size: 2rem;
}

span{
  color: #F88379;
  font-weight: bold;
}

/*Contact Button*/

.btn-primary{
  background-color: #F88379;
  border: purple;
  color: white;
  border-radius: 3px;
  margin: 2rem auto;
  display: block;
  padding: 1.3rem 8rem;
  font-size: 1.7rem;
}


.btn-primary:hover{
  background-color: purple;
}


.first-page-name a i:hover{
  color: #F88379;
}


/* Media Quieries*/

@media only screen and (max-width: 768px){
  .first-page-photo img{
    display: block;
    margin: 0 auto;
    margin-left: -15px;
  }

  .btn-primary{
    margin-top: 8rem;
  }

  .navigation .left{
    text-align: center;
  }

  .navigation .right{
    text-align: center;
  }
}
